{% extends 'base.html.twig' %}

{% block title %}Leboncoin{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12"><h1>Leboncoin</h1></div>
    </div>
</div>
{% endblock %}
